/* stylelint-disable no-descending-specificity */

:export {
  variables_checkbox_size: '--checkbox-size';
  variables_checkbox_border_size: '--checkbox-border-size';
  variables_checkbox_border_radius: '--checkbox-border-radius';
  variables_checkbox_border_color_unselected: '--checkbox-border-color-unselected';
  variables_checkbox_border_color_selected: '--checkbox-border-color-selected';
  variables_checkbox_border_color_disabled: '--checkbox-border-color-disabled';
  variables_checkbox_focus_size: '--checkbox-focus-size';
  variables_checkbox_focus_color: '--checkbox-focus-color';
  variables_checkbox_text_color_selected: '--checkbox-text-color-selected';
  variables_checkbox_text_color_disabled: '--checkbox-text-color-disabled';
  variables_checkbox_background_color_unselected: '--checkbox-background-color-unselected';
  variables_checkbox_background_color_unselected_tint: '--checkbox-background-color-unselected-tint';
  variables_checkbox_background_color_selected: '--checkbox-background-color-selected';
  variables_checkbox_background_color_selected_tint: '--checkbox-background-color-selected-tint';
  variables_checkbox_background_color_disabled: '--checkbox-background-color-disabled';
}

.checkbox {
  /* stylelint-disable-next-line unit-allowed-list */
  --checkbox-size-local: var(--checkbox-size, 1.2em);
  /* stylelint-disable-next-line unit-allowed-list */
  --checkbox-border-size-local: var(--checkbox-border-size, 1px);
  --checkbox-border-radius-local: var(--checkbox-border-radius, calc(0.2 * var(--checkbox-size-local)));
  --checkbox-border-color-unselected-local: var(--checkbox-border-color-unselected, hsl(0deg 0% 66%));
  --checkbox-border-color-selected-local: var(--checkbox-border-color-selected, hsl(216deg 80% 50%));
  --checkbox-focus-size-local: var(--checkbox-focus-size, calc(2 * var(--checkbox-border-size-local)));
  --checkbox-focus-color-local: var(--checkbox-focus-color, hsl(216deg 94% 73%));
  --checkbox-text-color-selected-local: var(--checkbox-text-color-selected, #fff);
  --checkbox-background-color-unselected-local: var(--checkbox-background-color-unselected, hsl(300deg 3% 93%));
  --checkbox-background-color-unselected-tint-local: var(
    --checkbox-background-color-unselected-tint,
    var(--checkbox-background-color-unselected, #fff)
  );
  --checkbox-background-color-selected-local: var(--checkbox-background-color-selected, hsl(217deg 95% 68%));
  --checkbox-background-color-selected-tint-local: var(
    --checkbox-background-color-selected-tint,
    var(--checkbox-background-color-selected, hsl(216deg 80% 57%))
  );
  --checkbox-background-color-disabled-local: var(--checkbox-background-color-disabled, hsl(216deg 0% 57%));
  --checkbox-text-color-disabled-local: var(--checkbox-text-color-disabled, hsl(216deg 0% 57%));
  --checkbox-border-color-disabled-local: var(--checkbox-border-color-disabled, hsl(216deg 0% 57%));

  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  cursor: default;
  width: var(--checkbox-size-local);
  height: var(--checkbox-size-local);

  &.standard {
    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      width: 100%;
      height: 100%;
      border: var(--checkbox-border-size-local) solid var(--checkbox-border-color-unselected-local);
      border-radius: var(--checkbox-border-radius-local);
      background: var(--checkbox-border-color-unselected-local);
      background-image: linear-gradient(
        to bottom,
        var(--checkbox-border-color-unselected-local) ;,
        var(--checkbox-border-color-unselected-tint-local) 70%
      );
    }
  }
}

:host(:host:focus) {
  outline: none;

  & .checkbox {
    &.standard {
      &::before {
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        border-color: var(--checkbox-border-color-selected-local);
        box-shadow: 0 0 0 var(--checkbox-focus-size-local) var(--checkbox-focus-color-local);
      }
    }
  }
}

:host(:host:active) {
  & .checkbox {
    &.standard {
      &::before {
        background-image: linear-gradient(
          to bottom,
          var(--checkbox-border-color-unselected-tint-local),
          var(--checkbox-border-color-unselected-local) ; 30%
        );
      }
    }
  }
}

:host([aria-checked='mixed']),
:host([aria-checked='true']) {
  & .checkbox {
    &.standard {
      &::before {
        border-color: var(--checkbox-border-color-selected-local);
        background: var(--checkbox-background-color-selected-local);
        background-image: linear-gradient(
          to bottom,
          var(--checkbox-background-color-selected-local),
          var(--checkbox-background-color-selected-tint-local)
        );
      }

      &::after {
        display: block;
        border: solid var(--checkbox-text-color-selected-local);
      }
    }
  }

  &:host(:host:active) {
    & .checkbox {
      &.standard {
        &::before {
          background-image: linear-gradient(
            to bottom,
            var(--checkbox-background-color-selected-local),
            var(--checkbox-background-color-selected-local)
          );
        }
      }
    }
  }
}

:host([aria-checked='mixed']) {
  & .checkbox {
    &.standard {
      &::after {
        border-width: calc(0.125 * var(--checkbox-size-local) / 2) 0;
        width: calc(0.4 * var(--checkbox-size-local));
      }
    }
  }
}

:host([aria-checked='true']) {
  & .checkbox {
    &.standard {
      &::after {
        width: calc(0.25 * var(--checkbox-size-local));
        height: calc(0.4 * var(--checkbox-size-local));
        border-width: 0 calc(0.125 * var(--checkbox-size-local)) calc(0.125 * var(--checkbox-size-local)) 0;
        transform: translateY(-15%) rotate(45deg);
      }
    }
  }
}

:host(:host:disabled) {
  & .checkbox {
    &.standard {
      &::before {
        border: var(--checkbox-border-size-local) solid var(--checkbox-border-color-disabled-local);
        background: var(--checkbox-border-color-disabled-local);
        background-image: 'none';
      }
    }
  }
}
